header {
  background-color: aquamarine;
  text-align: center;
  padding: 20px;
}

main {
  margin: 10px 200px;
}
aside {
  float: right;
}

footer {
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
}

h1,
h2 {
  color: rgb(139, 27, 27);
}

.project-container {
  border: 2px solid rgb(139, 27, 27);
  border-radius: 20px;
  padding: 10px;
  margin: 10px 10px 40px 10px;
}

img {
  border-radius: 20px;
}
