{% extends 'projects/base.html' %} {% block content %} {% for project in projects %}
<article class="project-container">
  <aside>
    <time class="time">{{ project.published_date }}</time>
  </aside>
  <p class="author">{{ project.author }}</p>
  <h2 class="project-title">
    <a href="{% url 'project_detail' pk=project.pk %}">{{ project.title }}</a>
  </h2>
  <p class="project-text">{{ project.text | linebreaksbr }}</p>
  {% if project.image_url %}
  <img class="project-image" src="{{ project.image_url }}" alt="image goes here" />
  {% endif %}
</article>
{% endfor %} {% endblock %}
